name: "Make Docker Image"

on:
  push:
    tags:
      - '**'

jobs:
  build:
    name: "Build Image"
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node: [ 16 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get Tag Name
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Create Dotenv File
        uses: actually-colab/github-action-create-env-file@v2.3
        with:
          envkey_CEVER_VERSION: ${{ steps.get_version.outputs.VERSION }}
          directory: .
          file_name: .env

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            hoshinosuzumi/cfever:latest
            hoshinosuzumi/cfever:${{ steps.get_version.outputs.VERSION }}
            ghcr.io/uniiemstudio/ctfever:latest
            ghcr.io/uniiemstudio/ctfever:${{ steps.get_version.outputs.VERSION }}
